* {
  font-size: 10pt;
}

body{
  background-color: #f5f9fc;
}

.bread-mobile {
  background: #f5f9fc;
  background-color: #f5f9fc;
  color: black;
  margin-top: 55px;
  z-index: 9999;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 47px;
  margin-top: -13px;
  padding-top: 13px;
  padding-left: 13px;
  margin-left: -13px;
  margin-right: -13px;
}

.nav-mobile-top {
  margin-top: -30px;
  margin-left: 100px;
}

.but-nav {
  background: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0, 0);
  border: none;
}

.nav-btn {
  background-color: rgba (0, 0, 0, 0);
  border: thin solid #dfdfe0;
  color: #697687;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 47%;
  margin: 1%;
  border-radius: 10px;
}

.nav-btn:focus {
  box-shadow: none;
  border: thin solid #697687;
}

.nav-mobile {
  margin-left: -13px;
  overflow: hidden;
  background-color: #ecf0fb;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  color: #697687;
  transition: top 0.3s;
}

.nav-mobile-fix {
  margin-left: -13px;
  overflow: hidden;
  background-color: #ecf0fb;
  top: 0;
  width: 100%;
  z-index: 99;
  color: #697687;
  transition: top 0.3s;
  margin-left: 1%;
  margin-right: 1%;
}

.mobile {
  z-index: 9999999;
  margin-left: -13px;
  margin-right: -13px;
}

.drop {
  background-color: #ecf0fb;
  border: thin solid #697687;
  color: #697687;
}

.drop:focus {
  background-color: #ecf0fb;
  border: thin solid #697687;
  color: #697687;
}

.drop:active {
  background-color: #ecf0fb;
  border: thin solid #697687;
  color: #697687;
}

.drop:hover {
  background-color: #ecf0fb;
  border: thin solid #697687;
  color: #697687;
}

.sort-by {
  margin-left: -200px;
}

.show {
  margin-left: -32px;
  width: 40%;
}

.show-pc {
  margin-top: 5px;
  margin-right: 6px;
}

.tampil-pc {
  margin-top: 1px;
  margin-bottom: 2px;
}

.tampil-mobile {
  margin-right: -11%;
  margin-top: -55px;
}

.disabled {
  background: rgba(0, 0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0, 0);
}

.custom-control-input {
  background-color: #3bb2b8;
}

.filter {
  border-bottom: solid #3bb2b8;
  width: 80px;
  line-height: 2;
}

.filter-line {
  margin-top: -20px;
}

.form-control {
  background-color: #f5f9fc;
}

.form-control:focus {
  box-shadow: none;
  border: thin solid #3bb2b8;
}

.btn-primary {
  background-color: #3bb2b8;
  border: none;
}

.btn-primary:hover {
  background-color: #3cc2d8
}

.top-header{
  font-size: 12px;
  padding: 5px 0px;
  background: #3bb2b8;
}
.top-header li{
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top-header li,
.top-header li a{
  color: #fff;
}

.sub-nav{
  background: #f5f9fc;
  position: relative;
}
.sub-nav::after{
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgb(66,230,149);
  background: linear-gradient(72deg, rgba(66,230,149,1) 0%, rgba(59,178,184,1) 100%);
}

.dropdown1:hover .dropdown-menu {
    display: block;
 }

.navigation {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 99999;
}

.tool {
  background-color: #ecf0fb;
  color: #697687;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.rounded-circle {
  background-color: #c1cadb;
  border-color: #c1cadb;
  color: #30323e;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.card {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(179,179,179,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(179,179,179,1);
  box-shadow: 0px 0px 5px 0px rgba(179,179,179,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(179,179,179,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(179,179,179,1);
  box-shadow: 0px 0px 20px 0px rgba(179,179,179,1);
}

.card-img-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body {
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #697687;
}

.card-body:hover {
  color: #697687;
}

.price {
  color: #3bb2b8;
}

.was {
  color: #a1a8b1;
}

.fa-star {
  color: #fbae17;
}

.fa-star-half-o {
  color: #fbae17;
}

.fa-star-o {
  color: #fbae17;
}

.list-group-item{
  border-radius: 50% !important;
  background: #f5f9fc;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  color: #697687;
}

.list-group-item:hover {
  background: #3bb2b8;
  color: white;
}

.m {
  border-radius: 50% !important;
  background: #c1cadb;
  cursor: pointer;
  border: none;
  color: #697687;
  pointer-events:none;
}

.r {
  background-color: rgba(0, 0, 0, 0, 0);
  background: none;
  color: #697687;
  pointer-events: none;
  margin-left: 1px;
  margin-right: 1px;
}

.r:hover {
  pointer-events: none;
  background: none;
  background-color: rgba(0, 0, 0, 0, 0);
  color: #697687;
}

.next {
  border: thin solid #c2cbdc;
  background-color: rgba(0, 0, 0, 0);
}

.nexth {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.nextm {
  border: none;
  margin-left: -7px;
}

.custom-selectd {
  border: thin solid #c1cadb;
  border-radius: 100px;
  padding: 7px;
}

.custom-selectm {
  border-radius: 7px;
  padding: 7px;
}

/* SLIDER */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
/* END SLIDER */

.card:hover {
  color: blue;
}

img.catalog {
  width: 9em;
  height: auto;
  size: 100%;
}

.label {
	border-radius: 30px;
	padding: 1px 8px;
	position: absolute;
  top: 1rem;
  right: 1rem;
}

.label-discount {
	background: #fdb3b1;
	color: #ff0800;
}

.label-new {
	background: #72b3d1;
	color: #fff;
}

@media screen and (max-width: 768px) {
  div.hide {
    display: none;
  }
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.navbar{
    border: 0;
    background: rgb(66,230,149);
    background: linear-gradient(72deg, rgba(66,230,149,1) 0%, rgba(59,178,184,1) 100%);
    z-index: 9999;
}

.sb.l{
    border: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.sb.r{
    border: 0;
    background: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.no-mp{
    margin: 0px; 
    padding: 0px;
}

.badge {
    padding: 0;
    text-align: center;
    width: 16px;
    height: 16px;
    font-size: 10px;
    color: rgb(66,230,149);
    border-radius: 50px;
    position: absolute;
    top: 3px;
    right: 57px;
    padding: 3px 6px;
    opacity: 0.95;
}