.font1 {
  font-size: 13px;
}

.kategori {
  width: 5em;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.edo img {
  height: 100%;
  width: 100%;
  text-align: center;
}

.pencarian img {
  height: 60%;
  width: 60%;
}

/*.carousel-inner img {
    width: 100%;
    height: 100%;
}*/

@media only screen and (max-width: 768px) {
  .atas {
    width: 0;
    height: 0;
  }
}
