.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.navbar{
    border: 0;
    background: rgb(66,230,149);
    background: linear-gradient(72deg, rgba(66,230,149,1) 0%, rgba(59,178,184,1) 100%);
}

.sb.l{
    border: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.sb.r{
    border: 0;
    background: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.no-mp{
    margin: 0px; 
    padding: 0px;
}

.badge {
    padding: 0;
    text-align: center;
    width: 16px;
    height: 16px;
    font-size: 10px;
    color: rgb(66,230,149);
    border-radius: 50px;
    position: absolute;
    top: 3px;
    right: 57px;
    padding: 3px 6px;
    opacity: 0.95;
}

.under-search{
    font-size: 12px;
}